---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div style="height: 100vh; display: flex; flex-direction: column;">
			<main style="flex: 1;">
				<div style="margin-bottom: 5em; display: flex; justify-content: center;">
					<img src="/logo.svg" alt="Logo" style="max-width: 500px;" />
				</div>
				<section>
					<h2 style="font-size: 2em;">会社概要</h2>
					<p>
					レジティメイトラボスジェーピーゴウドウガイシャは、NFCテクノロジー、ICチップ、コネクテッドプロダクト、ブロックチェーンソフトウェアに特化したコンサルティングおよび開発を行う企業です。また、クリエイティブ・コンサルティングも手がけ、ブランドとテクノロジーの融合を支援します。
					</p>
					<p>
					主に、米国法人Legitimate, Inc.の日本国内およびアジア市場における事業展開を支援するとともに、日本国内のファッションブランド、音楽レーベル、その他多様な企業とも連携し、最先端のNFC／ICチップ技術を活用した魅力的なコネクテッドプロダクトの企画・開発・展開をサポートしています。
					</p>
					<p><strong>所在地：</strong>〒151-0064 東京都渋谷区上原2-42-10 FAREウエハラノイエ W105号室</p>
					<p><strong>設立日：</strong>2025年1月14日</p>
					<p><strong>代表者：</strong>ラング ゾエ モーガ</p>
					<p><strong>詳細：</strong><a href="https://legitimate.jp" target="_blank" rel="noopener noreferrer">https://legitimate.jp</a> （※ウェブサイトは機械翻訳による日本語表示です）</p>
				</section>
			</main>
			<Footer />
		</div>
	</body>
</html>
